# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
.venv/

# Django stuff
db.sqlite3
*.log

# Environment variables
.env

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
